.chatInput {
  border-radius: 20px;
  margin-bottom: 7%;
  margin-top: auto; /* Pushes the chatInput to the bottom */
  display: flex;
  justify-content: center;
}
.chatInput > form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  border: 0.01px solid gray;
  width: 80%;
  border-radius: 10px;
}

.chatInput > form > input {
  bottom: 30px;
  width: 95%;
  border: none !important;
  border-radius: 15px;
  padding: 20px;
}

.chatInput > form > .sendButton {
  /* display: none !important; */
  border: 0.01px solid gray;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: lightgray;
}
